@import "tailwindcss";

 .font-righteous {
            font-family: "Righteous", sans-serif;
        }

        /* src/index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
